node_modules/
build/
*.log

/applications/main/static/css/main.css
/applications/main/static/img/
/applications/main/static/js/main.js
/applications/main/static/main.html
/applications/main/app/html.template
